# Ignore Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Ignore Go vendor directory
/vendor/

# Ignore IDE/editor specific files
.env
.idea/
.vscode/
*.swp
*.swo

# Ignore temporary files
*.tmp
*.temp

# Ignore log files
*.log

